<?xml version="1.0"?>
<launch>
  <param name="/use_sim_time" value="true" />

  <arg name="output" default="screen"/> <!-- Set output="log" to mute the screen output -->
  <arg name="debug" default="True"/> <!-- Enable debugging information and pictures -->
  <arg name="namespace" default="apex"/> <!-- Name of the experiment -->
  <arg name="ui_port" default="5000"/> <!-- Binding port of the Web user interface -->

  <arg name="torso_vrep_port" default="19999"/>
  <arg name="ergo_vrep_port" default="19998"/>
  <arg name="clock_vrep_port" default="29997"/>
  <arg name="environment_vrep_port" default="19997"/>

  <group ns="$(arg namespace)">
      <param name="ui_port" value="$(arg ui_port)" />
      <param name="vrep/clock_port" value="$(arg clock_vrep_port)" />
      <param name="vrep/environment_port" value="$(arg environment_vrep_port)" />

      <!-- Simulation -->
      <node name="clock" pkg="nips2017" type="vrep_clock_publisher.py" output="$(arg output)" respawn="true"/>
      <node name="environment" pkg="nips2017" type="vrep_environment_publisher.py" output="$(arg output)" required="true"/>
      <node name="ergo" pkg="nips2017" type="ergo.py" output="$(arg output)" respawn="true"/>

      <param name="perception/debug" value="$(arg debug)" />
      <param name="experiment_name" value="$(arg namespace)" />

      <rosparam command="load" param="experiment" file="$(find nips2017)/config/experiment.yaml" />

      <node name="perception" pkg="nips2017" type="perception.py" output="$(arg output)"/>
      <node name="torso" pkg="nips2017" type="torso.py" output="$(arg output)" respawn="true"/>
      <node name="learning" pkg="nips2017" type="learning.py" output="$(arg output)" required="true"/>
      <node name="user" pkg="nips2017" type="user.py" output="$(arg output)" respawn="true"/>

      <include file="$(find nips2017)/launch/controllers.launch">
          <arg name="torso_vrep_port" value="$(arg torso_vrep_port)"/>
          <arg name="ergo_vrep_port" value="$(arg ergo_vrep_port)"/>
          <arg name="simulated" value="true"/>
      </include>
  </group>
</launch>
