<?xml version="1.0"?>
<launch>
  <arg name="output" default="screen"/> <!-- Set output="log" to mute the screen output -->
  <arg name="debug" default="True"/> <!-- Enable debugging information and pictures -->
  <arg name="source" default="none"/> <!-- Source of pre-planned data for this experiment -->
  <arg name="namespace" default="apex"/> <!-- Unique name of the experiment -->

  <include file="$(find nips2017)/launch/services_hw.launch" >
    <arg name="output" value="$(arg output)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <group ns="$(arg namespace)">
    <node name="manager" pkg="nips2017" type="task_manager.py" output="$(arg output)" required="true"/>
    <node name="controller" pkg="nips2017" type="controller.py" output="$(arg output)" required="true"/>
  </group>
</launch>
