<?xml version="1.0"?>
<launch>

  <arg name="output" default="screen"/> <!-- Set output="log" to mute the screen output -->
  <arg name="debug" default="True"/> <!-- Enable debugging information and pictures -->
  <arg name="namespace" default="apex"/> <!-- Isolate the data into a namespace -->
  <arg name="light" default="false"/> <!-- Enable the WS2812B light controller -->

  <group ns="$(arg namespace)">

      <param name="environment/debug" value="$(arg debug)" />

      <include file="$(find poppy_ergo_jr_controllers)/launch/controllers.launch">
          <arg name="simulated" value="false"/>
          <arg name="respawn" value="true"/>
      </include>

      <node name="joystick_publisher" pkg="apex_playground" type="hardware_joystick_publisher.py" output="$(arg output)"/>
      <node name="environment" pkg="apex_playground" type="environment.py" output="$(arg output)"/>
      <node name="ergo" pkg="apex_playground" type="ergo.py" output="$(arg output)" respawn="true"/>
      <node if="$(arg light)" name="light_controller" pkg="apex_playground" type="light.py" launch-prefix="sudo -E PYTHONPATH=$(env PYTHONPATH)" output="$(arg output)" respawn="true"/>

  </group>
</launch>
