<?xml version="1.0"?>
<launch>

  <arg name="output" default="screen"/> <!-- Set output="log" to mute the screen output -->
  <arg name="debug" default="True"/> <!-- Enable debugging information and pictures -->
  <arg name="demo_mode" default="True"/> <!-- Aestetic demo mode (versus scientific experiment mode) -->
  <arg name="namespace" default="apex"/> <!-- Isolate the data into a namespace -->

  <group ns="$(arg namespace)">

      <param name="demo_mode" value="$(arg demo_mode)" />

      <include file="$(find poppy_torso_controllers)/launch/controllers.launch">
          <arg name="simulated" value="false"/>
          <arg name="respawn" value="true"/>
      </include>

      <node name="perception" pkg="apex_playground" type="perception.py" output="$(arg output)" respawn="true"/>
      <node name="torso" pkg="apex_playground" type="torso.py" output="$(arg output)" respawn="true"/>
      <node name="learning" pkg="apex_playground" type="learning.py" output="$(arg output)" respawn="true"/>
      <node name="user" pkg="apex_playground" type="user.py" output="$(arg output)" respawn="true"/>
      <node name="sound" pkg="apex_playground" type="sound.py" output="$(arg output)" respawn="true"/>
      <node name="recorder" pkg="apex_playground" type="recorder.py" output="$(arg output)" respawn="true"/>
      <node name="controller" pkg="apex_playground" type="controller.py" output="$(arg output)" respawn="true"/>

  </group>
</launch>
